body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula_a, .nebula_b {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.nebula_a {
  float: left;
  margin-right: 10px;
}

.nebula_b {
  float: right;
  margin-left: 10px;
}
